main.aux
main.dvi
main.idx
main.ind
main.log
main.out.ps
main.synctex.gz
main.toc
preamble.toc
capitolo1.tex
main.fdb_latexmk
main.fls
main.ilg
_main.aux
_main.fdb_latexmk
_main.fls
_main.idx
_main.ind
_main.log
_main.pdf
_main.synctex.gz
_main.tex
_main.toc
_main.ilg